<div class="row">
  <div class="col-xs-12">

    <h3 class="text-center">The Thing...</h3>
    <dl class="dl-horizontal">
      <dt>What it's called</dt>
      <dd>{{model.title}}</dd>

      {{#if model.urlActive}}
        <dt>Where it is</dt>
        <dd><a target="_blank" href={{model.url}}>{{model.url}}</a></dd>
      {{/if}}
      {{#if model.repoUrl}}
        <dt>Where the code is</dt>
        <dd><a target="_blank" href={{model.repoUrl}}>{{model.repoUrl}}</a></dd>
      {{/if}}
    </dl>

    {{#if model.description}}
      <div id="description">
        <h4 class="text-center">
          What the Thing does
        </h4>
        <p>{{model.description}}</p>
      </div>
    {{/if}}

    {{#if model.tools}}
      <h4 class="text-center">
        Tools I used to build the Thing...
      </h4>
      <ul>
        {{#each model.tools as |tool|}}
          <li>{{tool.name}}</li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
